<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <script src="furigana.js" defer></script>
  </head>
  <body>
    <section class="textarea-section">
      <textarea class="nihongo">言葉わからなくても, “好き”を伝えよう。</textarea>
    </section>

    <section class="button-section">
      <button class="go">
        转换
      </button>
      <button class="gotohtml">
        转换成  HTML
      </button>
    </section>
    <p class="furigana">在当前栏中显示 振り仮名</p>

  </body>
</html>
